# Telegram
BOT_TOKEN=your_telegram_bot_token_here

# Database
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
POSTGRES_DB=changeme
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme

# Travelpayouts
TRAVELPAYOUTS_TOKEN=your_travelpayouts_token_here

# Bot config
LOG_LEVEL=info
PORT=3000
